.App {
  text-align: center;
}
.body{
  background-color: "lime";
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
body {
  background-image: url("./images/h9.jpg");
  background-color: green;
  background-size: cover;
  background-repeat: no-repeat;
 }

 p, h1, li, header {
  font-family: sans-serif;
  src: local(sans-serif), url('HARRP___.woff') format('woff');
  color: maroon;
  font-size: 35px;
  text-shadow: 0.5px 0.5px black;
  }

 @font-face {
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  src: local(sans-serif), url('HARRP___.woff') format('woff');
  }

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
